/*.portfolio {*/
/*    padding: 50px 20px;*/
/*    background-color: #f0f0f5;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.content-wrapper {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*    max-width: 1200px;*/
/*    margin-bottom: 20px;*/
/*    gap: 30px;*/
/*}*/

/*.education, .skills {*/
/*    flex: 1;*/
/*    padding: 20px;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 8px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.education h2, .skills h2 {*/
/*    font-size: 1.7rem;*/
/*    color: #34495e;*/
/*    margin-bottom: 10px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.icon {*/
/*    font-size: 2rem;*/
/*    margin-right: 10px;*/
/*}*/

/*.education-details h3 {*/
/*    font-size: 1.3rem;*/
/*    color: #2c3e50;*/
/*}*/

/*.education-details p {*/
/*    font-size: 1.1rem;*/
/*    color: #7f8c8d;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.skills-wrapper {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    !*gap: 1.5rem;*!*/
/*}*/

/*.skills-column {*/
/*    flex: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.skill-item {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.skill-tag {*/
/*    margin-left: 10px;*/
/*    font-size: 1.2rem !important;*/
/*    background-color: transparent !important;*/
/*    color: #34495e !important;*/
/*}*/

/*.skill-icon {*/
/*    font-size: 1.5rem;*/
/*    color: #3498db;*/
/*}*/


/*@media (max-width: 768px) {*/
/*    .content-wrapper {*/
/*        flex-direction: column;*/
/*    }*/

/*    .education, .skills {*/
/*        width: 100%;*/
/*    }*/
/*}*/